body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

    button {
        background: none;
        color: white;
        border: none;
        padding: 14px 20px;
        margin-top: 10px;
        flex: 1;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        .active {
            background-color: #ccc;
            color: black;
        }
    }

    button:is(:first-child) {
        margin-left: 10px;
    }

    button:is(:last-child) {
        margin-right: 10px;
    }

    button:hover {
        background-color: #999;
        color: black;
    }
}

#main-body-content {
    width: calc(90%);
    flex-direction: row;
    flex: 1;
    max-width: 1000px;
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
}


/* RUN page */
#run-tab {
    #run-timer-details {
        text-align: center;
        margin: 20px;
    }

    #button-container {
        position: fixed;
        left: 1vw;
        right: 1vw;
        bottom: 1vw;
        display: flex;
        button {
            /* button.run { */
            flex: 1;
            padding: 3vw;
            border: 2px solid black;
            background-color: white;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.1s ease;
        }
        button:hover {
            background-color: gray;
        }
        button:active {
            background-color: darkgray;
        }
        button:not(:last-child) {
            border-right: none;
            /* Remove the border between buttons */
        }
    }

    .timer-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* EDIT page */
#edit-tab {
    #timers-container {
        padding: 1rem;
        /* margin-top: 1rem; */
    }
    
    .basic-timer {
        padding: 1rem;
        margin: 1rem;
        background-color: white;
        border-radius: 0.5rem;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        transition: opacity 1s ease-out, transform 0.5s ease-in-out;
    }

    .fade-out {
        opacity: 0;
        pointer-events: none; /* Prevent interaction during the fade-out */
    }

    .drag-btn {
        position: relative;
        border-color: transparent;
        background-color: transparent;
        font-size: 25px;
        cursor: grab;
    }
    .drag-btn:hover {
        font-weight: bolder;
    }

    .basic-timer:is(:last-child) {
        margin-bottom: 0;
    }
    
    .basic-timer.dragging {
        opacity: .5;
    }
    
    .remove-btn {
        position: relative;
        border-color: transparent;
        background-color: transparent;
        color: red;
        font-size: 25px;
        cursor: pointer;
    }
    .add-btn {
        position: relative;
        border-color: transparent;
        background-color: transparent;
        color: green;
        font-size: 25px;
        cursor: pointer;
    }
}