body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.navbar button {
    background: none;
    color: white;
    border: none;
    padding: 14px 20px;
    margin-top: 10px;
    flex: 1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button.active {
    background-color: #ccc;
    color: black;
}

.navbar button:is(:first-child) {
    margin-left: 10px;   
}
.navbar button:is(:last-child) {
    margin-right: 10px;   
}

/* TODO: define buttons with class="run"*/

.navbar button:hover {
    background-color: #999;
    color: black;
}

.content {
    width: calc(90%);
    flex-direction: row;
    flex: 1;
    max-width: 1000px;
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
}


/* RUN page */
#run-timer-details {
    text-align: center;
    margin: 20px;
}

#button-container {
    position: fixed; 
    left: 1vw;
    right: 1vw;
    bottom: 1vw;
    display: flex;
}

button.run {
    flex: 1;
    padding: 3vw;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.1s ease;
}

button.run:hover {
    background-color: gray;
}

button.run:active {
    background-color: darkgray;
}

button.run:not(:last-child) {
    border-right: none; /* Remove the border between buttons */
}

.timer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* EDIT page */
.container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }