body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
    min-width: 500px;
    min-height: 700px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

    button {
        background: none;
        color: white;
        border: none;
        padding: 14px 20px;
        margin-top: 10px;
        flex: 1;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

    }

    button.active {
        background-color: #ccc;
        color: black;
    }

    button:is(:first-child) {
        margin-left: 10px;
    }

    button:is(:last-child) {
        margin-right: 10px;
    }

    button:hover {
        background-color: #999;
        color: black;
    }
}

#main-body-content {
    width: calc(90%);
    flex-direction: row;
    flex: 1;
    max-width: 1000px;
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
}


/* RUN page */
#run-tab {
    #run-timer-details {
        text-align: center;
        margin: 20px;
    }

    #button-container {
        position: absolute;
        left: 1vw;
        right: 1vw;
        bottom: 1vw;
        display: flex;
        max-width: 1200px;
        /* max-height: 100px; */        /* This was not working for some reason */
        margin: 0 auto;

        button {
            flex: 1;
            padding: 3vw;
            border: 2px solid black;
            background-color: white;
            cursor: pointer;
            font-size: 25px;      
            transition: background-color 0.1s ease;
            /* max-height: 100px; */    /* This was not working for some reason */
        }

        button:hover {
            background-color: gray;
        }

        button:active {
            background-color: darkgray;
        }

        button:not(:last-child) {
            border-right: none;
        }
    }

    .progress-bar {
        width: 100%;
        height: 10px;
        background-color: red;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }

    .progress-bar-green {
        height: 1rem;
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
    }

    .timer-info {
        padding-top: 1rem;
        background-color: white;
        scale: 0.9;
        border-radius: 0.5rem;
        border: 1px solid black;
        transition: opacity 1s ease-out, transform 0.5s ease-in-out;
    }

    .timer-info.minor {
        opacity: 0.5;
        transform: scale(0.7);
        transform-origin: center center;
        border-style: dashed;
    }

    .timer-info.non-existent {
        opacity: 0.05;
        transform: scale(0.7);
        transform-origin: center center;
        border-style: dashed;
    }

    .timer-info.interval {
        font-weight: bold;
        border: 3px solid greenyellow;
        transform-origin: center;
        margin: 1rem 0 1rem 0;
    }

    h1 {
        margin: 0;
    }

    .info-elem {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* EDIT + OTHERS page */
/* #edit-tab { */
.timers-container {
    padding: 1rem;
    /* margin-top: 1rem; */
}

.timer-div {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    transition: opacity 1s ease-out, transform 0.5s ease-in-out;
}

.timer-div.interval:hover {
    border-width: 3px;
}

.interval-timer-container {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 3px solid black;
    background-color: #ded;
    width: fit-content;
    margin: 0 auto;
    transition: opacity 1s ease-out, transform 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    /* Prevent interaction during the fade-out */
}

.drag-btn {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    font-size: 25px;
    cursor: grab;
}

.drag-btn:hover {
    font-weight: bolder;
}

.timer-div:is(:last-child) {
    margin-bottom: 0;
}

.timer-div.dragging {
    opacity: .5;
}

.remove-btn {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.add-btn {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: green;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

input {
    font-size: 25px;
}

.time-input {
    width: 3.2ch;
    text-align: center;
}

#others-tab .timer-name {
    width: 25ch;
}

#edit-tab .timer-name-input {
    width: 13ch;
}

@media (max-width: 750px) {
    #others-tab .timer-name {
        width: auto;
    }

    .timer-div {
        padding-left: 0;
        padding-right: 0;

        margin-left: 0;
        margin-right: 0;
        justify-content: flex-end;
    }

    .timer-div> :first-child {
        margin-right: auto;
    }

    .timers-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 650px) {
    .narrow-removable {
        display: none;
    }
}

@media (max-height: 1000px) {

    .timer-info.non-existent,
    .timer-info.minor {
        display: none;
    }
}